<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Document</title>
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <table class="table">
            <h1 class="text-center display-2 "> Saisie des donnees du test</h1>
            <!-- <fieldset> INSERTION DES DONNEES </fieldset> -->
            <table class="table text-center">
                <tr>
                    <th class="text-center" rowspan="2"> ...</th>
                    <th colspan="4" class="text-center bg-success text-white">varietes 1</th>

                </tr>
                <tr>
                    <th class="bg-primary" colspan="2"> v1</th>
                    <th class="bg-success">v2</th>
                    <th class="bg-primary">v3</th>
                </tr>
                <tr>
                    <th rowspan="4" class="text-center bg-dark text-white">
                        variete 2
                    </th>
                    <th>E1</th>
                    <td>
                        <div class="row">
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        </div>
                    </td>

                    <td>
                        <div class="row">
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        </div>
                    </td>

                    <td>
                        <div class="row">
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                            <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        </div>
                    </td>

                </tr>
                <th>E2</th>
                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                </tr>
                <th>E3</th>
                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                </tr>
                <th>E4</th>
                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                    </div>
                </td>

                <td>
                    <div class="row">
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element"> </div>
                        <div class="col"><input type="text" placeholder="entrer votre element "> </div>
                    </div>
                </td>

                </tr>
                <!-- <th rowspan="4" class="text-center bg-primary"> </th> -->
            </table>

        </table>
        <button class="btn bg-primary" id="valider">soumettre</button>
    </div>
</body>

</html>